.buy {
  position: relative;
  width: 640px;
  background-color: var(--bg-color);
}

.buy__heading {
  margin: 0;
  padding: 20px;
  text-align: center;
  color: var(--light);

  font-family: var(--font-family-sub);
  font-size: var(--font-size-large);

  font-weight: var(--font-weight-base);
  line-height: var(--font-line-height-small);
  letter-spacing: 0.8px;
  text-transform: uppercase;

  background-color: var(--dark);
}

.buy__close-btn {
  display: block;
  position: absolute;
  top: 25px;
  right: 25px;
  width: 23px;
  height: 23px;
  padding: 2px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
  transition: fill 0.3s ease, background-color 0.3s ease;
}

.buy__inner {
  display: flex;
  gap: 40px;
  padding: 30px 40px;

  color: var(--grey);
  font-size: var(--font-size-base);
  font-style: normal;
  font-weight: var(--font-weight-base);
  line-height: var(--font-line-height-small);
  letter-spacing: 2px;
}

.buy__block {
  display: flex;
  gap: 25px;
  align-items: end;
}

.buy__price {
  color: var(--dark);
  font-size: var(--font-line-height-small);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height-small);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.buy__text {
  margin: 0;
}
