.cards__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 220px;
  row-gap: 40px;
}

.cards__item {
  position: relative;
  min-height: 555px;
}

.cards__block {
  position: fixed;
  right: -100%;
  opacity: 0;
  animation: fadeOut ease 2s;
}

@keyframes fadeOut {
  0% {
    position: static;
    opacity: 1;
  }

  100% {
    position: fixed;
    opacity: 0;
  }
}

.active-target {
  position: static;
  opacity: 1;
  animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    position: fixed;
  }
  100% {
    position: static;
    opacity: 1;
  }
}

.cards__inner {
  height: 100%;
  margin-right: 40px;
  border: 1px solid var(--black);
}

.cards__content {
  height: 100%;
  padding: 15px 20px;
  padding-bottom: 59px;
}

.cards__title {
  position: relative;
  margin: 0;
  margin-bottom: 19px;
  color: var(--text-color);
  font-family: var(--font-family-custom-sub);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-base);
  line-height: var(--font-line-height-base);
  letter-spacing: 2px;
  text-transform: capitalize;
}

.cards__title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  width: 60px;
  height: 1px;
  background: var(--primary);
}

.cards__name {
  margin: 0;
  color: var(--text-color);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height-base);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.cards__author {
  margin: 0;
  margin-bottom: 20px;
  color: var(--text-color);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height-base);
  letter-spacing: 2px;
  text-transform: capitalize;
}

.cards__description {
  margin: 0;
  width: 357px;
  color: var(--text-color);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: var(--font-line-height-base);
  letter-spacing: 2px;
  text-transform: capitalize;
}

.cards__image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 300px;
  object-fit: cover;
  background-color: var(--bg-color);
}

.cards__button {
  position: absolute;
  left: 20px;
  bottom: 15px;
}

@media (max-width: 1439px) {
  .cards__list {
    grid-template-columns: 590px;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .cards__list {
    grid-template-columns: 525px;
  }
}
