.footer {
  padding: 20px;
  padding-bottom: 0;
  color: var(--light);
  background-color: var(--dark);
}

.footer__top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--light);
  padding-bottom: 29px;
}

.footer__address {
  margin-bottom: 18px;
  width: 229px;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
}
.footer__item {
  margin: 0;
  margin-bottom: 10px;
  text-align: end;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  min-height: 110px;
  align-items: center;
}

.footer__year {
  margin: 0;
  align-self: center;
  font-size: var(--font-size-medium);
  font-style: normal;
  font-weight: var(--font-weight-base);
  line-height: 20px;
  letter-spacing: 2px;
}

.footer__school {
  margin: 0;
  margin-left: 103px;
  text-align: center;
  font-size: var(--font-size-medium);
  font-style: normal;
  font-weight: var(--font-weight-base);
  line-height: 20px;
  letter-spacing: 2px;
}

.footer__author {
  margin: 0;
  text-align: center;
  font-size: var(--font-size-medium);
  font-style: normal;
  font-weight: var(--font-weight-base);
  line-height: 20px;
  letter-spacing: 2px;
}

@media (max-width: 1439px) {
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .footer__school {
    margin-left: 47px;
  }
}
