.form {
  min-width: 600px;
  padding: 17px 17px 27px;
  border: 3px solid var(--primary);
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form__block {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 25px;
  margin-bottom: 20px;
  background: var(--primary);
}

.form__title {
  align-self: start;
  margin-bottom: 20px;
  color: var(--text-color);
  font-family: var(--font-family-custom-sub);
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-base);
  line-height: var(--font-line-height-large);
  letter-spacing: 0.6px;
}

.form__input {
  margin-bottom: 25px;
  padding: 8px 20px;
  border: none;
  border-radius: 10px;

  color: var(--primary);
  font-family: var(--font-family-custom-sub);
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-base);
  line-height: var(--font-line-height-big);
  letter-spacing: 0.6px;

  background: var(--bg-color);
}

.form__input--name {
  text-transform: capitalize;
}

.form__input--card-number {
  text-transform: uppercase;
}

.form__input--card-number::placeholder {
  text-transform: initial;
}

.form__input::placeholder {
  color: var(--grey);
}

.form__input:last-child {
  margin-bottom: 0;
}

.form__button {
  min-width: 242px;
  padding: 9px 23px;
  color: var(--dark);
  text-align: center;
  font-size: var(--font-size-medium);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: normal;
  letter-spacing: 1px;
}

@media (max-width: 1439px) {
  .form {
    max-width: 600px;
  }
}

.form__list {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.form__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
