.header {
    background-color: var(--dark);
    color: var(--light);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
}

.header__heading {
    margin: 0;
    margin-right: auto;
    font-family: var(--font-family-sub);
    font-weight: var(--font-weight-base);
    letter-spacing: 0.6px;
    line-height: 50px;
    font-size: 30px;
}

.header__nav {
    margin-right: 40px;
}

.header__profile {
    padding: 0;

    width: 29px;
    height: 29px;
    border: none;

    background-color: transparent;
    cursor: pointer;
}
