.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-heading {
  position: relative;
  margin: 0;
  margin-bottom: 40px;
  padding: 20px 0;
  color: var(--section-heading);
  text-align: center;
  font-family: var(--font-family-custom-sub);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-base);
  line-height: var(--font-line-height-base);
  letter-spacing: 2px;
  text-transform: capitalize;
}

.section-heading::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: 0 auto;
  width: 50px;
  height: 1px;
  background: var(--section-heading);
}

/* .section-sub-heading {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: var(--dark);
} */
