.hero {
  min-height: 600px;
  padding-top: 220px;

  background: linear-gradient(
      180deg,
      #0c0c0e 0%,
      #0c0c0e 0.01%,
      rgba(18, 18, 21, 0.1) 100%
    ),
    url("../img/welcome.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__welcome {
  margin: 0;
  margin-left: -20px;
  max-width: 600px;
  padding: 35px 40px;

  color: var(--light);
  font-family: var(--font-family-sub);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-base);
  line-height: var(--font-line-height-large);
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;

  background: var(--dark);
}
