.menu__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu__block {
  display: grid;
  grid-template-columns: 1fr 97px auto;
  column-gap: 60px;
  margin-bottom: 40px;
  justify-content: space-between;
}

.menu__item {
  max-width: 438px;
}

.menu__item:nth-child(even) {
  max-width: 461px;
  justify-self: self-end;
  text-align: end;
}

.menu__title {
  margin: 0;
  margin-bottom: 41px;
  color: var(--primary);
  font-family: var(--font-family-custom-sub);
  font-size: var(--font-line-height-base);
  font-weight: var(--font-weight-base);
  line-height: var(--font-line-height-base);
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu__name {
  color: var(--text-color);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-base);
  line-height: var(--font-line-height-base);
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu__decor {
  position: relative;
}

.menu__decor::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: 0 auto;
  width: 100%;
  height: 1px;
  background: var(--primary);
}

.menu__price {
  color: var(--text-color);
  font-family: var(--font-family-custom-sub);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-base);
  line-height: var(--font-line-height-base);
  letter-spacing: 2px;
}

@media (max-width: 1439px) {
  .menu__list {
    grid-template-columns: 1fr;
  }
}
