.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.3);
  z-index: -1;
  opacity: 0;
  /* transition: all 0.3s ease; */
  animation: fadeIn ease 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popup__container {
  position: relative;
  width: 250px;
  padding: 20px 25px;
  background: var(--bg-color);
}

.popup__container--profile {
  width: 430px;
  padding: 40px 20px;
}

.popup__close-btn {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 15px;
  height: 15px;
  padding: 2px;
  border: none;
  background-color: transparent;
  background: url("../img//close-cross.svg");
  cursor: pointer;
  z-index: 1;
  transition: fill 0.3s ease, background-color 0.3s ease;
}

.popup__heading {
  margin: 0;
  margin-bottom: 20px;

  font-family: var(--font-family-sub);
  color: var(--title-color);
  text-align: center;

  font-size: var(--font-size-medium);

  font-weight: var(--font-weight-base);
  line-height: var(--font-line-height-small);
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.popup__heading--profile {
  margin-bottom: 40px;

  text-align: left;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-base);
  line-height: 30px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.popup__text {
  margin: 0;

  color: var(--text-color);
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-size: var(--font-size-small);
  font-style: normal;
  font-weight: var(--font-weight-base);
  line-height: normal;
}

.popup__block {
  display: flex;
  gap: 10px;
}

.popup__link {
  color: var(--dark);
  text-align: center;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  letter-spacing: 1px;
  text-decoration-line: underline;
}

.popup__list {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.popup__item {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.popup__card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  width: 170px;
  /* height: 100%; */
  background-color: var(--dark);
}

.popup__inner-card {
  display: flex;
}

.popup__rented {
  margin-bottom: 40px;
}

.popup__card-number {
  display: flex;
  gap: 15px;
}

.popup__number {
  color: var(--primary);
  font-size: var(--font-line-height-small);
  font-weight: var(--font-weight-base);
  line-height: var(--font-line-height-small);
}

.popup__card-title {
  color: var(--dark);
  font-size: var(--font-line-height-small);
  font-weight: var(--font-weight-base);
  line-height: var(--font-line-height-small);
}

.popup__clipboard {
  width: 20px;
  height: 20px;
  border: none;
  background: url("../img/icon-clipboard.svg") no-repeat center;
  cursor: pointer;
}

.active {
  opacity: 1;
  z-index: 999;
  transition: all 0.3s ease;
}
