.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio + .radio__wrapper {
  position: relative;
  display: inline-flex;
  font-size: var(--font-size-medium);
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.radio + .radio__wrapper::before {
  width: 13px;
  height: 13px;
  margin-right: 20px;
  border: 2px solid var(--black);
  border-radius: 50%;
  content: "";
}

.radio:disabled + .radio__wrapper::before {
  border-color: var(--black);
  background-color: var(--light);

  opacity: 0.1;
}

.radio__dot {
  position: absolute;
  top: 17px;
  left: 5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  opacity: 0;
  background-color: var(--black);
}

.radio:checked + .radio__wrapper {
  font-weight: var(--font-weight-bold);
}

.radio:checked + .radio__wrapper > .radio__dot {
  opacity: 1;
}

.radio:disabled + .radio__wrapper > .radio__dot {
  background-color: var(--grey);
}
