.radios {
  margin-bottom: 27px;
}

.radios__list {
  display: flex;
  flex-wrap: wrap;
}

.radios__buttons {
  display: flex;
  gap: var(--gap-standart);
  margin-top: 50px;
}

.radios__button {
  font-size: 14px;
}

.radios__title {
  margin: 0;
  margin-bottom: 38px;
  color: var(--title-color);
  font-size: var(--font-size-medium);
  line-height: normal;
}

.radios__wrapper {
  position: relative;
}

.radios__item {
  width: 120px;
  margin-right: 70px;
}

.radios__item:first-child {
  margin-right: 74px;
}

.radios__item:nth-child(2) {
  margin-right: 69px;
}

.radios__item:nth-child(3) {
  margin-right: 86px;
}

.radios__text {
  position: absolute;
  left: 37px;
  padding-bottom: 3px;
  line-height: normal;
}

.radios__dot {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  opacity: 0;
  background-color: var(--black);
}

.radios__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radios__input + .radios__wrapper {
  position: relative;
  display: inline-flex;
  font-size: var(--font-size-medium);
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.radios__input + .radios__wrapper::before {
  width: 13px;
  height: 13px;
  margin-right: 20px;
  border: 2px solid var(--black);
  border-radius: 50%;
  content: "";
}

.radios__input:disabled + .radios__wrapper::before {
  border-color: var(--black);
  background-color: var(--light);

  opacity: 0.1;
}

.radios__input:checked + .radios__wrapper {
  font-weight: var(--font-weight-bold);
}

.radios__input:checked + .radios__wrapper > .radios__dot {
  opacity: 1;
}

.radios__input:disabled + .radios__wrapper > .radios__dot {
  background-color: var(--grey);
}
