.rented__text {
  margin: 0;
  margin-bottom: 30px;

  color: var(--dark);

  font-size: 25px;
  font-style: normal;
  font-weight: var(--font-weight-base);
  line-height: var(--font-line-height-small);
}

.rented__list {
  overflow-y: scroll;
  max-height: 100px;
}

.rented__item {
  margin-left: 31px;
  margin-bottom: 10px;
  color: var(--text-color);

  font-size: var(--font-size-medium);
  font-style: normal;
  font-weight: var(--font-weight-base);
  line-height: var(--font-line-height-small);
  letter-spacing: 2px;
  text-transform: capitalize;
  list-style: disc;
}

.rented__item:last-child {
  margin-bottom: 0;
}
