@import url("./normalize.css");
@import url("./variables.css");
@import url("./fonts.css");
@import url("./base.css");
@import url("./button.css");
@import url("./container.css");
@import url("./heading.css");
@import url("./header.css");
@import url("./burger.css");
@import url("./nav.css");
@import url("./profile.css");
@import url("./hero.css");
@import url("./about.css");
@import url("./slider.css");
@import url("./radios.css");
@import url("./favorites.css");
@import url("./cards.css");
@import url("./coffee-shop.css");
@import url("./menu.css");
@import url("./contacts.css");
@import url("./digital-library.css");
@import url("./form.css");
@import url("./footer.css");
@import url("./socials.css");
@import url("./icon.css");
@import url("./drop-menu.css");
@import url("./popup.css");
@import url("./form-popup.css");
@import url("./profile-info.css");
@import url("./rented.css");
@import url("./statistics.css");
@import url("./buy.css");
@import url("./error-container.css");
@import url("./loader.css");
@import url("./toast.css");
